@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background-color: #27272a; /* zinc-800 */
  color: #f5f5f4; /* stone-100 */
  font-family: var(--font-sans), sans-serif;
}
